.container{

display:flex;

min-height:100vh;

background:#020617;

}

.content{

flex:1;

padding:30px;

margin-left:260px;

}

.cards{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

margin:25px 0;

}

@media(max-width:900px){

.cards{

grid-template-columns:1fr;

}

.content{

margin-left:0;

padding:20px;

}

}